
.vs/MGPBaseDownloader/v14/.suo
.vs/MGPBaseDownloader/v15/.suo
.vs/MGPBaseDownloader/v15/sqlite3/storage.ide
.vs/MGPBaseDownloader/v16/.suo
.vs/MGPBaseDownloader/v15/.suo
.vs/MGPBaseDownloader/v15/sqlite3/storage.ide
.vs/MGPBaseDownloader/v15/.suo
MGPBaseDownloader/obj/Release/TempPE/Properties.Resources.Designer.cs.dll
MGPBaseDownloader/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
MGPBaseDownloader/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
MGPBaseDownloader/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
MGPBaseDownloader/obj/Release/MGPBaseDownloader.Properties.Resources.resources
MGPBaseDownloader/obj/Release/MGPBaseDownloader.pdb
MGPBaseDownloader/obj/Release/MGPBaseDownloader.formMain.resources
MGPBaseDownloader/obj/Release/MGPBaseDownloader.exe
MGPBaseDownloader/obj/Release/MGPBaseDownloader.csproj.GenerateResource.Cache
MGPBaseDownloader/obj/Release/MGPBaseDownloader.csproj.FileListAbsolute.txt
MGPBaseDownloader/obj/Release/MGPBaseDownloader.csproj.CoreCompileInputs.cache
MGPBaseDownloader/obj/Release/MGPBaseDownloader.csproj.CopyComplete
MGPBaseDownloader/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
MGPBaseDownloader/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
MGPBaseDownloader/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
MGPBaseDownloader/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
MGPBaseDownloader/obj/Debug/MGPBaseDownloader.Properties.Resources.resources
MGPBaseDownloader/obj/Debug/MGPBaseDownloader.pdb
MGPBaseDownloader/obj/Debug/MGPBaseDownloader.formMain.resources
MGPBaseDownloader/obj/Debug/MGPBaseDownloader.exe
